<a href="https://colab.research.google.com/github/Young4424/Machine-Learning-Deep-learning-Myself/blob/main/01_Feature_Engineering_%EA%B0%95%EC%9D%98%EC%A4%91.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('titanic.csv')

In [ ]:
data.head()

In [ ]:
# 결측값 확인
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
data = data.drop(columns = 'Cabin')

In [ ]:
data['Age'].fillna(data['Age'].median())

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
imputer = SimpleImputer(strategy = 'constant', fill_value = 0)
imputer.fit_transform(data[['Age']])

In [ ]:
imputer = SimpleImputer(strategy = 'mean')
data['Age'] = imputer.fit_transform(data[['Age']])

In [ ]:
data['Age'] = data['Age'].astype(int)

In [ ]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Embarked'],
      dtype='object')

In [ ]:
drop_cols = ['PassengerId', 'Name', 'Ticket']
numeric_cols = ['Age', 'SibSp', 'Parch', 'Fare']
categorical_cols = ['Pclass', 'Sex', 'Embarked']

In [ ]:
data = data.drop(columns = drop_cols)

In [ ]:
num_feats = data[numeric_cols]
cat_feats = data[categorical_cols]

In [ ]:
# 연속형 변수들의 처리
    # 1. 결측값, 이상치를 처리 - 대체(imputation)
    # 2. 스케일링

imputer = SimpleImputer(strategy = 'median')
num_feats = pd.DataFrame(data = imputer.fit_transform(num_feats), columns = numeric_cols)

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
scaler = MinMaxScaler()
num_feats = pd.DataFrame(data = scaler.fit_transform(num_feats), columns = numeric_cols)

In [ ]:
num_feats.head()

      Age  SibSp  Parch      Fare
0  0.2750  0.125    0.0  0.014151
1  0.4750  0.125    0.0  0.139136
2  0.3250  0.000    0.0  0.015469
3  0.4375  0.125    0.0  0.103644
4  0.4375  0.000    0.0  0.015713

In [ ]:
# 범주형 변수의 처리
    # 1. 결측치 처리 - 대체(Imputation), 최빈값
    # 2. 인코딩 - One Hot encoding

imputer = SimpleImputer(strategy = 'most_frequent')
cat_feats = pd.DataFrame(data = imputer.fit_transform(cat_feats), columns = categorical_cols)

In [ ]:
cat_feats = pd.get_dummies(cat_feats)

<ipython-input-32-f55e48d8fb31>:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  cat_feats = pd.get_dummies(cat_feats)

In [ ]:
features = pd.concat([num_feats, cat_feats], axis = 1)

In [ ]:
data

     Survived  Pclass     Sex  Age  SibSp  Parch     Fare Embarked
0           0       3    male   22      1      0   7.2500        S
1           1       1  female   38      1      0  71.2833        C
2           1       3  female   26      0      0   7.9250        S
3           1       1  female   35      1      0  53.1000        S
4           0       3    male   35      0      0   8.0500        S
..        ...     ...     ...  ...    ...    ...      ...      ...
886         0       2    male   27      0      0  13.0000        S
887         1       1  female   19      0      0  30.0000        S
888         0       3  female   29      1      2  23.4500        S
889         1       1    male   26      0      0  30.0000        C
890         0       3    male   32      0      0   7.7500        Q

[891 rows x 8 columns]

In [ ]:
(data["Name"].str.split().str.get(1)).value_counts()

Mr.             502
Miss.           179
Mrs.            121
Master.          40
Dr.               7
Rev.              6
y                 4
Planke,           3
Impe,             3
Gordon,           2
Col.              2
Mlle.             2
Major.            2
Melkebeke,        1
Jonkheer.         1
Shawah,           1
the               1
Velde,            1
Capt.             1
Messemaeker,      1
Carlo,            1
Ms.               1
Mme.              1
Steen,            1
Mulder,           1
Pelsmaeker,       1
Walle,            1
der               1
Billiard,         1
Don.              1
Cruyssen,         1
Name: Name, dtype: int64

In [ ]:
data['Married'] = data["Name"].str.split().str.get(1)

In [ ]:
data['Married'] = data['Married'].apply(lambda x: x if x in ['Mr.', 'Mrs.', 'Miss.', 'Master.'] else 'others')

In [ ]:
pd.get_dummies(data[['Married']])

     Married_Master.  Married_Miss.  Married_Mr.  Married_Mrs.  Married_others
0                  0              0            1             0               0
1                  0              0            0             1               0
2                  0              1            0             0               0
3                  0              0            0             1               0
4                  0              0            1             0               0
..               ...            ...          ...           ...             ...
886                0              0            0             0               1
887                0              1            0             0               0
888                0              1            0             0               0
889                0              0            1             0               0
890                0              0            1             0               0

[891 rows x 5 columns]

In [ ]:
features.to_csv('titanic_feats.csv', index = False)

,Age,SibSp,Parch,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,0.2750,0.125,0.000000,0.014151,0,0,1,0,1,0,0,1
1,0.4750,0.125,0.000000,0.139136,1,0,0,1,0,1,0,0
2,0.3250,0.000,0.000000,0.015469,0,0,1,1,0,0,0,1
3,0.4375,0.125,0.000000,0.103644,1,0,0,1,0,0,0,1
4,0.4375,0.000,0.000000,0.015713,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
886,0.3375,0.000,0.000000,0.025374,0,1,0,0,1,0,0,1
887,0.2375,0.000,0.000000,0.058556,1,0,0,1,0,0,0,1
888,0.3625,0.125,0.333333,0.045771,0,0,1,1,0,0,0,1
889,0.3250,0.000,0.000000,0.058556,1,0,0,0,1,1,0,0
890,0.4000,0.000,0.000000,0.015127,0,0,1,0,1,0,1,0